.MultiCheck {
}

.MultiCheck-label {
  height: 26px;
  line-height: 26px;
  padding-inline: 6px;
  background-color: #a1a1a1;
}

.MultiCheck-card {
  margin: 8px;
  padding: 6px 4px;
  border: 1px solid #a1a1a1;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.MultiCheck-column {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
